$icon-font-path: '../fonts/';
@import "variables/variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@import "modules/import_modules.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  margin: 0;
  padding: 0;
}

.thumbnail {
  border: none;
}


// Overlay

.loader-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background: $main-color;
  transform: scale(0.01);
  transition: transform 500ms ease-in;
  z-index: 10;

  &.visible {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

.section-title {
  margin-left: 30px;
}
