// Header

.site-header {
  position: fixed;
  top: 0;
  left: 30px;
  right: 30px;
  margin: auto;
  padding-top: 30px;
  color: #3578EF;
  z-index: 100;
}

.site-logo {
  color: #3578EF;
  margin: 30px;
  border: 1px solid #3578EF;
  background: #fff;
  padding: 20px 30px;

  h3 {
    color: #3578EF;
    margin: 0;
  }
}

